src/main/mule/dataweave-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="dataweave-demoFlow" doc:id="80ada54a-8470-4a79-b3be-f4e049b745dd" >
		<ee:transform doc:name="Transform JSON To AllType" doc:id="305711c6-b8b0-4477-936f-3e977a71d807" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
 {
	empID: payload.empID,
	empNAME: payload.empNAME,
	empMAIL: payload.empMAIL
    }
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweave-demoFlow1" doc:id="5c424e59-60ae-4d26-8fac-007da81ffc91" >
		<ee:transform doc:name="Transform XML To AllTypes" doc:id="5aad7398-8499-439e-964d-6208233af0ca" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	item: {
		price: payload.book.price,
		properties: {
			title: payload.book.title,
			author:payload.book.author,
			year: payload.book.year,
			language: payload.book.title.@lang
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweave-demoFlow2" doc:id="b9a2c7c4-bd22-4afd-ad5e-50190bb946dc" >
		<ee:transform doc:name="Transform attributes based   JSON to XML" doc:id="7173aed1-bcb2-43db-810c-7e29ffcf5206" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	book: {
		title @(lang: payload.item.properties.language): payload.item.properties.title,
		price: payload.item.price,
		author @(loc: "US"): payload.item.properties.author[0]
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweave-demoFlow3" doc:id="7da3fca7-d340-4f10-ace4-1967e1f169f2" >
		<ee:transform doc:name="JSON to CSV" doc:id="5e96ed9f-9dc1-4cf8-9646-fdd1dbb88d84" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv 
---
[{
	empID: payload.empID,
	empNAME: payload.empNAME,
	empMAIL: payload.empMAIL,
	empStatus: payload.empStatus
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
